<article class="posts-list__post">
    {{ partial "thumbnail.html" . }}

    {{ partial "post-tags.html" . }}

    <h2>
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h2>
    <time class="posts-list__date" datetime="{{ .Date }}">
        {{ if eq .Site.Language.Lang "pl" }}
            {{ dateFormat "02" .Date }}
            {{ index $.Site.Data.months (printf "%d" .Date.Month) }}
            {{ dateFormat "2006" .Date }}
        {{ else }}
            {{ dateFormat "02" .Date }}
            {{ dateFormat "Jan" .Date }}
            {{ dateFormat "2006" .Date }}
        {{ end }}
    </time>
    
    <p class="posts-list__summary">
        {{ .Summary }}
    </p>
</article>