<nav class="breadcrumbs" id="breadcrumbs">
{{ if eq .Site.Language.Lang "pl" }}
    <a href="/">Strona główna</a>
    {{if or (eq .Section "blog") (eq .Section "projekty") (eq .Section "tags")  }}

	    {{ range first 2 (split .RelPermalink "/") }}
	        {{ if gt (len . ) 0 }}
	            / <a href="/{{ . }}/">{{ humanize . }}</a>
	        {{ end }}
	    {{ end }}
	    {{ if .IsPage }}
	    	/ <a href="{{ $.Permalink }}">{{ .Title }}</a>
	    {{ end }}
	{{else}}
		{{ range (split .RelPermalink "/") }}
	        {{ if gt (len . ) 0 }}
	            / <a href="/{{ . }}/">{{ humanize . }}</a>
	        {{ end }}
	    {{ end }}
	{{ end }}

{{ else }}
    
    <a href="/en/">Homepage</a>
    {{if or (eq .Section "blog") (eq .Section "projekty") (eq .Section "tags")  }}

	    {{ range first 3 (split .RelPermalink "/") }}
	        {{ if and (not (eq . "en")) (gt (len . ) 0) }}
	            / <a href="/en/{{ . }}/">{{ humanize . }}</a>
	        {{ end }}
	    {{ end }}
	    {{ if .IsPage }}
	    	/ <a href="{{ $.Permalink }}">{{ .Title }}</a>
	    {{ end }}
	{{else}}
		{{ range (split .RelPermalink "/") }}
	        {{ if and (not (eq . "en")) (gt (len . ) 0) }}
	            / <a href="/en/{{ . }}/">{{ humanize . }}</a>
	        {{ end }}
	    {{ end }}
	{{ end }}
{{ end }}
</nav>

