<form action="https://submit-form.com/TxT9CuUI" class="contact-form">
	<label for="name" class="contact-form__name-label">Nazwa</label>
    <input class="contact-form__name" type="text" id="name" name="name" placeholder="" required="">
    <label for="email" class="contact-form__email-label">Adres email</label>
    <input class="contact-form__email" type="email" id="email" name="email" placeholder="" required="">
    <label for="message" class="contact-form__message-label">Wiadomość</label>
    <textarea id="message" name="message" placeholder="Chętnie odpowiem na każde pytanie :)" required="" class="contact-form__message"></textarea>
    <button type="submit">Wyślij</button>
</form>