{{define "footer"}}
<footer class="footer">
	<div class="wrapper">
		<nav class="footer__left">
			<strong>Maciej Kaszkowiak</strong>
			<br>{{- if eq .Site.Language.Lang "en" -}}
			Poznań, Poland
			{{- else -}}
			Poznań / Wronki
			{{- end -}}
			<br><a href="https://kaszkowiak.org">kaszkowiak.org</a>
			<br><a href="mailto:maciej@kaszkowiak.org">maciej@kaszkowiak.org</a>

		</nav>
		<nav class="footer__right">
			{{ with .Site.GetPage "/blog" }}
			{{ with .OutputFormats.Get "rss" -}}
			<a href="{{ .Permalink }}"><img src="/img/rss.svg" alt="RSS" class="rss"> RSS</a>
			{{ end }}
			{{ end }}
			<br><strong>{{ i18n "socialMedia" }}:</strong>
			<br><a href="https://github.com/asdfMaciej/" target="_blank" rel="noopener">Github</a>
			<br><a href="https://www.facebook.com/kaszkowiak.maciej/" target="_blank" rel="noopener">Facebook</a>
			<br><a href="https://www.last.fm/user/asdfMaciej" target="_blank" rel="noopener">last.fm</a>
			<br><a href="https://www.strava.com/athletes/22266715" target="_blank" rel="noopener">Strava</a>
		</nav>
		<span class="footer_bottom">
			© {{ now.Format "2006"}}
		</span>
	</div>
</footer>
{{end}}