{{define "header"}}
<header class="navbar">
	<div class="wrapper wrapper--navbar">
		<a class="navbar__logo" href="/">
			Maciej Kaszkowiak
		</a>

		<a class="navbar__hamburger" id="nav-hamburger" href="#">
			☰
		</a>

		<nav class="navbar__navigation">
			<a href="/oferta/" title="Oferta">
				Oferta
			</a>
			<a href="/o-mnie/" title="O mnie">
				O mnie
			</a>
			<a href="/projekty/" title="Projekty">
				Projekty
			</a>
			<a href="/blog/" title="Blog">
				Blog
			</a>
			<a href="/kontakt/" title="Kontakt">
				Kontakt
			</a>
		</nav>
	</div>
</header>
{{end}}