{{ define "head" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- $title := "" -}}
{{- if .IsHome -}}
	{{- $title = .Title -}}
{{- else if (and (eq .Section "blog") (.IsPage)) -}}
	{{- $title = .Title -}}
{{- else if (and (eq .Section "projekty") (.IsPage)) -}}
	{{- $title = printf "%s - %s" .Title .Params.Subtitle -}}
{{- else if (eq .Section "oferta") -}}
	{{- $title = .Title -}}
{{- else if (and (eq .Section "tags") (eq .Kind "term")) -}}
	{{- $title = printf "Blog - #%s - Maciej Kaszkowiak" .Title -}}
{{- else -}}
	{{- $title = printf "%s - Maciej Kaszkowiak" .Title -}}
{{- end }}

<title>{{ $title }}</title>

<meta name="title" content="{{ $title }}">
<meta property="og:title" content="{{ $title }}">
<meta name="twitter:title" content="{{ $title }}">

{{- $desc := "" -}}
{{- if (isset .Params "desc") -}}
	{{- $desc = .Params.desc -}}
{{- else if eq .Kind "term" -}}
  {{- $desc = printf "%s #%s. %s." (i18n "allTagPosts") .Title (i18n "blogTopics") -}}
{{- else -}}
	{{- $desc = (substr (.Summary | plainify) 0 150) -}}
{{- end }}

<meta name="description" content="{{ $desc }}">
<meta property="og:description" content="{{ $desc }}">
<meta name="twitter:description" content="{{ $desc }}">

<link rel="canonical" href="{{ .Permalink }}">
<meta name="url" content="{{ .Permalink }}" >
<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:url" content="{{ .Permalink }}">

{{ if eq .Section "blog" -}}
<meta property="og:type" content="article">
{{- else -}}
<meta property="og:type" content="website">
{{- end }}

<meta name="author" content="Maciej Kaszkowiak">
<meta property="og:locale" content="{{ .Site.Params.locale }}">
<meta property="og:site_name" content="{{ .Site.Params.sitename }}">
{{ if .Params.thumbnail -}}
<meta property="og:image" content="{{ .Permalink }}{{ .Params.thumbnail }}">
{{- else -}}
<meta property="og:image" content="{{ .Site.BaseURL }}img/maciej kaszkowiak.jpg">
{{- end }}
<meta name="twitter:card" content="summary_large_image">

{{- if .IsTranslated -}}
  {{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" />
  {{- end -}}
  {{ range last 1 .AllTranslations }}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
  {{- end -}}
{{ end }}

{{ if (and (eq .Section "blog") (.IsPage)) -}}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{ .Title }}",
      "image": [
        {{ $thumbnail := .Resources.GetMatch .Params.thumbnail -}}
        {{- $thumbnail.Permalink }}
       ],

      "datePublished": {{ .Date.Format "2006-01-02T15:04:05-07:00" }},
      {{ with .Lastmod -}}
      "dateModified": {{ .Format "2006-01-02T15:04:05-07:00" }},
      {{- end }}
      "author": [{
          "@type": "Person",
          "name": "Maciej Kaszkowiak",
          "url": "https://kaszkowiak.org"
        }]
    }
    </script>
{{- end }}
<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&subset=latin,latin-ext&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&subset=latin,latin-ext&display=swap"
        rel="stylesheet"
        type="text/css"
    />
</noscript>

{{ $stylemain := resources.Get "scss/main.scss" | toCSS | postCSS (dict "use" "autoprefixer") | minify | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $stylemain.RelPermalink }}" integrity="{{ $stylemain.Data.Integrity }}">
{{- if not .IsHome -}}
<link rel="preload" href="/css/glightbox.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link rel="stylesheet" href="/css/glightbox.css">
</noscript>
<script language="javascript" type="text/javascript" src="/js/glightbox.min.js"></script>
{{- end -}}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4KR0JWKVK6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4KR0JWKVK6');
</script>
{{ end }}