{{define "header"}}
<header class="navbar {{ if not .IsHome -}}navbar--active{{- end -}}">
	<div class="wrapper wrapper--navbar">
		{{- with .Site.GetPage "/" -}}
		<a class="navbar__logo" href="{{- .Permalink -}}">
			Maciej Kaszkowiak
		</a>
		{{- end -}}

		<a class="navbar__hamburger" id="nav-hamburger" href="#">
			☰
		</a>

		<nav class="navbar__navigation">
            {{ with .Site.GetPage "/blog/" }}      
			<a href="{{- .Permalink -}}" title='{{- i18n "menuBlog" -}}'>
				{{- i18n "menuBlog" -}}
			</a>
            {{- end -}}
   
			<a href="#footer" title='{{- i18n "menuContact" -}}'>
				{{- i18n "menuContact" -}}
			</a>
      {{ if .IsTranslated }}
		    {{- range .Translations -}}
		      {{- if eq .Site.Language.Lang "en" -}}
		    		<a title="English" href="{{- .RelPermalink -}}"><img class="navbar__lang" alt="English" width="20" height="15" src="/img/gb.svg"></a>
		      {{- else -}}
		    		<a title="Polish" href="{{- .RelPermalink -}}"><img class="navbar__lang" alt="Polski" width="20" height="15" src="/img/pl.svg"></a>
		    {{- end -}}
	    {{- end -}}
		  {{ else }}
		    {{- if eq .Site.Language.Lang "pl" -}}
		    	<a title="English" href="/en/"><img class="navbar__lang" alt="English" width="20" height="15" src="/img/gb.svg"></a>
		    {{- else -}}
		    	<a title="Polish" href="/"><img class="navbar__lang" alt="Polski" width="20" height="15" src="/img/pl.svg"></a>
		    {{- end -}}
		  {{- end -}}
		</nav>
		
	</div>
</header>
{{end}}