{{define "header"}}
<header class="navbar">
	<div class="wrapper wrapper--navbar">
		{{ with .Site.GetPage "/" }}
		<a class="navbar__logo" href="{{ .Permalink }}">
			Maciej Kaszkowiak
		</a>
		{{ end }}

		<a class="navbar__hamburger" id="nav-hamburger" href="#">
			☰
		</a>

		<nav class="navbar__navigation">
			{{ with .Site.GetPage "/o-mnie/" }}      
			<a href="{{ .Permalink }}" title='{{ i18n "menuAboutMe" }}'>
				{{ i18n "menuAboutMe" }}
			</a>
            {{ end }}

			{{ with .Site.GetPage "/oferta/" }}      
			<a href="{{ .Permalink }}" title='{{ i18n "menuOffer" }}'>
				{{ i18n "menuOffer" }}
			</a>
            {{ end }}

            {{ with .Site.GetPage "/projekty/" }}      
			<a href="{{ .Permalink }}" title='{{ i18n "menuProjects" }}'>
				{{ i18n "menuProjects" }}
			</a>
            {{ end }}

            {{ with .Site.GetPage "/blog/" }}      
			<a href="{{ .Permalink }}" title='{{ i18n "menuBlog" }}'>
				{{ i18n "menuBlog" }}
			</a>
            {{ end }}

            {{ with .Site.GetPage "/kontakt/" }}      
			<a href="{{ .Permalink }}" title='{{ i18n "menuContact" }}'>
				{{ i18n "menuContact" }}
			</a>
            {{ end }}
		</nav>
		{{ if .IsTranslated }}
    {{ range .Translations }}
      {{ if eq .Site.Language.Lang "en" }}
    <a title="English" href="{{ .RelPermalink }}"><img src="/img/gb.svg" width="30"></a>
      {{ else }}
    <a title="Polish" href="{{ .RelPermalink }}"><img src="/img/pl.svg" width="30"></a>
      {{ end }}
    {{ end }}
  {{ else }}
    {{ if eq .Site.Language.Lang "pl" }}
    <a title="English" href="/en/"><img src="/img/gb.svg" width="30"></a>
    {{ else }}
    <a title="Polish" href="/"><img src="/img/pl.svg" width="30"></a>
    {{ end }}
  {{ end }}
	</div>
</header>
{{end}}