<div class="offer__box">
	<div class="offer__box-description">
		<div>
			<h2 class="offer__box-title">
				{{ .Title }}
			</h2>
			<p>
				{{ .Summary | plainify | htmlUnescape }}
			</p>
		</div>
	</div>

	{{ with .Resources.GetMatch (printf "%s" .Params.project_image) }}
		{{ $tiny := .Resize "600x jpg Lanczos" }}
		{{ $tinywebp := .Resize "600x webp Lanczos" }}
			<div class="offer__box-project-img">
			    <picture>
					<source srcset='{{ $tinywebp.RelPermalink }}' width="{{ $tinywebp.Width }}" height="{{ $tinywebp.Height }}" type="image/webp">
					<source srcset='{{ $tiny.RelPermalink }}' width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" type="image/jpeg">
					<img src='{{ $tiny.RelPermalink }}' width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" loading="lazy"alt="{{ $.Params.project_title }}">
				</picture> 
			</div>
	{{ end }}

	<div class="offer__box-project-desc">
		<h3> {{ .Params.project_title }}</h3>
		<p>
			{{ .Params.project_desc }}
		</p>
		<a class="offer__box-project-cta" href="{{ with .Site.GetPage "/projekty/firmowy-katalog" }}{{ .Permalink}}{{end}}">{{ .Params.project_cta }}</a>
	</div>
</div>
<!-- {{ with .Site.GetPage "/oferta" }}{{ .Permalink}}{{end}}#{{.Params.slug}} -->