<a href="{{ with .Site.GetPage "/oferta" }}{{ .Permalink}}{{end}}#{{.Params.slug}}" class="offer__box">
	<div class="offer__box-top">
		{{ with .Resources.GetMatch (printf "%s" .Params.icon) }}
			<img src="{{ .RelPermalink }}" alt="" role="presentation" class="offer__box-icon">
		{{ end }}
		<h3 class="offer__box-title">
			{{ .Title }}
		</h3>
	</div>
	<p class="offer__box-description">
		{{ .Summary | plainify | htmlUnescape }}
	</p>
	<span class="link-button">
		{{ i18n "learnMore" }}
	</span>
</a>