{{ if isset .Params "github" -}}
<a href="{{.Params.github}}" class="project-mini" target="_blank" rel="noopener">{{.Title}}</a>
{{- else }}
<article class="project">
  <div class="project__wrapper {{ with .Params.thumbnail -}}
  {{- else -}}
  project__wrapper--noimg
  {{- end -}}">
    <div class="project__text">
      <h3>{{ .Title }}</h3>
      <hr>
      {{ .Summary }}
      <div class="project__buttons">
        <a class="link-button" href="{{ .Permalink }}">{{ i18n "learnDetails" }}</a>
      </div>
    </div>

    {{- with .Params.thumbnail }}
      <div class="project__gallery">
        {{ partial "thumbnail.html" $ }}
      </div>
    {{ end -}}

    
  </div>
</article>
{{- end }}