{{ if isset .Params "github" -}}
<a href="{{.Params.github}}" class="project-mini" target="_blank" rel="noopener">
  {{ with .Resources.GetMatch "icon.png" }}
    {{ $webp := .Resize "200x webp Lanczos" }}
    <picture>
      <source srcset='{{ $webp.RelPermalink }}' width="{{ $webp.Width }}" height="{{ $webp.Height }}" type="image/webp">
        <source srcset='{{ .RelPermalink }}' width="{{ .Width }}" height="{{ .Height }}" type="image/png">
        <img src='{{ .RelPermalink }}' width="{{ .Width }}" height="{{ .Height }}" loading="lazy" alt="Emoji" role="presentation">
    </picture>
  {{ end }}
{{.Title}}
</a>
{{- else }}
<article class="project">
  {{ with .Resources.GetMatch (printf "%s" .Params.thumbnail) }}
    {{ $tiny := .Resize "600x jpg Lanczos" }}
    {{ $tinywebp := .Resize "600x webp Lanczos" }}
      <div class="offer__box-project-img">
          <picture>
          <source srcset='{{ $tinywebp.RelPermalink }}' width="{{ $tinywebp.Width }}" height="{{ $tinywebp.Height }}" type="image/webp">
          <source srcset='{{ $tiny.RelPermalink }}' width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" type="image/jpeg">
          <img src='{{ $tiny.RelPermalink }}' width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" loading="lazy"alt="{{ $.Title }}">
        </picture> 
      </div>
  {{ end }}

  <div class="offer__box-project-desc">
    <h3> {{ .Title }}</h3>
    <p>
      {{ .Summary }}
    </p>
    <a class="offer__box-project-cta" href="{{ .Permalink}}">{{ i18n "learnDetails" }}</a>
  </div>
</article>
{{- end }}