{{- with .Params.thumbnail -}}
	{{- $srcUrl := . | safeURL -}}
	{{- $src := $.Resources.GetMatch (printf "%s" $srcUrl) -}}
	{{- $tinyw := default "500x jpg Lanczos" -}}
	{{- $tiny := $src.Resize $tinyw -}}
	{{ $tinywebp := $src.Resize "500x webp Lanczos" }}
	    <picture>
			<source srcset='{{ $tinywebp.RelPermalink }}' width="{{ $tinywebp.Width }}" height="{{ $tinywebp.Height }}" type="image/webp">
			<source srcset='{{ $tiny.RelPermalink }}' width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" type="image/jpeg">
			<img src='{{ $tiny.RelPermalink }}' width="{{ $tiny.Width }}" height="{{ $tiny.Height }}" loading="lazy" class="blog-thumbnail" alt="Miniaturka">
		</picture> 
{{- end -}}