$background: #f7f7f7;
$font: Inter, sans-serif;
$font-color: #101010;
$wrapper: white;

$off-white: #f4f4f1;

$navbar-color: #1c355e;
$navbar-color-darker: #142543;
$navbar-font-color: white;
$wrapper-width: 1300px;


$red-hex: #346cd5;

$top-padding: 64px;

$gold-hex: #EEE8A9;

$grey-hex: #454555;
$tile-shadow: 0 2px 10px #0000000d;


* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: $font;
	line-height: 1.6;
	font-size: 1.7rem;
	letter-spacing: -0.011em;
	min-height: 100vh;
	color: $font-color;
	margin: 0;

	background: $background;

	&.blog.page,
	&.o-mnie,
	&.projekty.page,
	&.projekty.list,
	&.oferta.list,
	&.tags {
		background: white;
	}

	&.blog.list {
		background: white;

		.breadcrumbs {
			max-width: 1600px;
		}

		.main-content {
			max-width: 1600px !important;
			padding-left: 70px;
			padding-right: 70px;
		}
	}

	&.kontakt.list {
		background: white;
	}

}

a {
	color: $red-hex;
	text-decoration: none;
	font-weight: 600;
}

.gallery {
	display: flex;
}

body.blog.page h1,
body.blog.page h2,
body.blog.page h3,
body.blog.page h4,
body.blog.page h5,
body.blog.page h6 {
	clear: both;
}

.clear {
	clear: both;
}

h1 {
	line-height: 1.2;
}

h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
}

figure {
	margin: 16px 0;
}

figure.float-right {
	float: right;
	clear: both;
	padding-left: 16px;
}

figure img {
	box-shadow: #0000000f 0 10px 30px;
	max-width: 100%;
	max-height: 300px;
	border-radius: 8px;
	padding: 4px;
	height: auto;
	width: auto;
}

figure div {
	display: inline-block;
}

figcaption {
	text-align: center;
	font-size: 0.9em;
}

table {
	border-collapse: collapse;
	box-shadow: #0000000f 0 10px 30px;
}

th {
	background: $navbar-color;
	color: white;
	padding: 5px 15px;
}

td {
	padding: 10px;
	line-height: 1.2;
	text-align: center;
	border: 1px solid #e7e7e7;
}

li {
	margin: 5px 0;
}

blockquote {
	background-color: #ffffff;
	background-image: linear-gradient(315deg, #e9eef44f 0%, #d7e1ec91 74%);
	padding: 0.5em 1em;
	margin-left: 0;
	margin-right: 0;
}

.blockquote-footer {
	text-align: right;
}

.clear {
	clear: both;
}

.navbar {
	$self: &;
	color: $navbar-font-color;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	font-weight: 300;

	body.blog.page & {
		position: initial;
	}

	transition: background 200ms linear;

	&--active {
		background: #dddddda6;
		backdrop-filter: blur(10px);
	}

	a#{$self}__logo {
		flex: 1;
		font-weight: 600;
		font-size: 1.2em;
		text-shadow: 0 0 5px #000000;
	}

	&--active a#{$self}__logo,
	&--active .navbar__hamburger {
		text-shadow: none;
		color: black;
	}

	a {
		color: $navbar-font-color;
		padding: 0 8px;
		text-decoration: none;
		font-weight: 500;

		transition: 200ms;
		text-shadow: 0 0 5px #000000;
	}

	&__navigation {
		display: flex;
		align-items: center;

		@media (hover: hover) and (pointer: fine) {
			a:hover {
				font-weight: bold;
			}
		}

		a::after {
			display: block;
			content: attr(title);
			font-weight: bold;
			height: 1px;
			color: transparent;
			overflow: hidden;
			visibility: hidden;
		}

		#{$self}--active & {
			a {
				text-shadow: none;
				color: black;
			}
		}

		a:last-child {
			width: 36px;
		}
	}

	&__lang {
		width: 20px;
		margin-bottom: -2px;
		border: 1px solid black;
		background: white;
	}

	&__hamburger {
		display: none;
	}
}

@mixin wrapper {
	max-width: $wrapper-width;
	margin-left: auto;
	margin-right: auto;
}

@mixin wrapper768 {
	@include wrapper;
	max-width: 768px;
}

.wrapper {
	@include wrapper;

	&--navbar {
		display: flex;
		padding: 16px;
	}
}

.main-content {
	min-height: 100vh;
	padding-top: $top-padding;

	body.oferta.list &,
	body.blog.page & {
		padding-top: 0;
	}

	body:not(.home-page):not(.oferta.list):not(.projekty.list) & {
		@include wrapper;
		padding-bottom: 32px;
	}
}

.landing {
	position: relative;
	overflow: hidden;

	&::before {
		@supports not (background-image: url("/img/maciej kaszkowiak.webp")) {
			background-image: url("/img/maciej kaszkowiak.jpg")
		}

		background-image: url("/img/maciej kaszkowiak.webp");
		background-size: cover;
		background-position: 65%;
		background-repeat: no-repeat;
		content: '';

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		will-change: transform;
		z-index: -1;
	}

	margin-top: -$top-padding;

	&__container {
		display: grid;
		grid-template-areas: ". . ." ". text ." ". . .";
		grid-template-columns: calc(50vw - #{$wrapper-width / 2}) auto 1fr;
		grid-template-rows: 1fr auto 1fr;

		width: 100%;
		height: 100%;
		background: linear-gradient(237deg, #22a1da00 15%, #0044ccad 100%);
	}

	&__content {
		grid-area: text;
		color: white;
		font-size: 2em;
		text-shadow: 0 0 50px #000000ad;
		padding: 0 12px;

		h2,
		h3 {
			margin-top: 0;
			margin-bottom: 0;
			font-weight: 600;
			letter-spacing: -0.022em;
		}

		h3 {
			margin-top: 15px;
		}

		p {
			font-weight: 300;
			letter-spacing: -0.021em;
			line-height: 1.2;
			margin-top: 25px;
		}
	}

	&__image {
		max-width: 450px;
		width: 50%;
	}

	height: 100vh;
}

.link-button {
	background: $red-hex;
	/* #427bd8? */
	color: $navbar-color-darker;
	/* white? */
	padding: 8px 16px;
	border-radius: 8px;
	font-weight: 500;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	box-shadow: 1px 2px 2px #00000040;

	&--outline {
		color: $red-hex;
		/* ~ #151515 ? */
		background: white;
		border: 2px solid $red-hex;
		/* #5f8fdf ? */
		box-shadow: none;
		padding: 6px 16px;
		/* compensating for border */
	}
}

.contact-front {
	background: #d7fbff;
	color: $navbar-color-darker;

	&>.wrapper {
		padding: 20px 10px 20px;
	}

	a {
		color: $navbar-color-darker;
	}

	h2 {
		margin: 0;
		font-size: 4rem;
	}
}

.contact {
	@include wrapper;
	color: $navbar-color-darker;

	a {}

	h1 {
		font-size: 2em;
	}

	&-form {
		display: grid;
		grid-template-areas: "namelabel emaillabel" "name email"
			"msglabel msglabel"
			"message message" "submit submit";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto auto;
		grid-gap: 16px;

		&__name {
			grid-area: name;

			&-label {
				grid-area: namelabel;
			}
		}

		&__email {
			grid-area: email;

			&-label {
				grid-area: emaillabel;
			}
		}

		&__message {
			grid-area: message;

			&-label {
				grid-area: msglabel;
			}
		}

		label {
			font-size: 0.8em;
			margin-bottom: -12px;
			padding-left: 4px;
			font-weight: 700;
		}

		input {
			height: 48px;
		}

		textarea {
			height: 160px;
		}



		input,
		textarea,
		button {
			border: none;
			font-size: 1em;
			font-family: $font;
			padding: 8px;
			box-shadow: 0 2px 10px #00000014;
			border-radius: 8px;
		}

		button {
			grid-area: submit;
			min-width: 80px;
			width: 30%;
			margin: 12px auto;
			height: 48px;
			background: $navbar-color;
			color: white;
			transition: all 200ms ease;
		}

		@media (hover: hover) and (pointer: fine) {
			button:hover {
				box-shadow: none;
				cursor: pointer;
				opacity: 0.9;
			}
		}
	}
}

.offer-front {
	background-color: #afd6f6;

	@supports not (background-image: url("/img/pastel gradient.webp")) {
		background-image: url("/img/pastel gradient.jpg")
	}

	background-image: url("/img/pastel gradient.webp");
	background-size: cover;
	background-position: 10%;
	color: black;

	&>.wrapper {
		display: grid;
		grid-template-areas: "header header" "one ." "two ." "three cta";
		grid-template-columns: auto 1fr;
		padding: 0 10px;
		padding-bottom: 60px;
	}

	&__header {
		grid-area: header;
	}

	&__box {
		font-size: 1.8em;
		margin-bottom: 40px;
		padding-bottom: 20px;
		font-weight: 500;
		line-height: 1.2;
		position: relative;

		&--1 {
			grid-area: one;
		}

		&--2 {
			grid-area: two;
		}

		&--3 {
			grid-area: three;
		}

		&:after {
			position: absolute;
			bottom: 0;
			content: "";
			width: 115%;
			border-bottom: 2px solid black;
			height: 100%;
			pointer-events: none;
			display: block;
		}
	}

	&__button {
		&-container {
			grid-area: cta;
			justify-self: flex-end;
		}

		font-size: 1.2em;
		background: black;
		color: white;
		font-weight: 700;
		text-decoration: none;
		border-radius: 10px;
		padding: 15px 60px;
		text-align: center;
		display: inline-block;
		transition: all 0.2s ease;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				opacity: 0.85;
			}
		}

	}
}

.projects-front {
	background: white;
	padding: 20px 0;

	&>.wrapper {
		padding: 0 10px;
	}

	&__header {
		font-size: 4rem;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		&-item {
			border: 2px solid black;
			border-radius: 10px;
			padding: 4px 8px;
			font-weight: 500;
			font-size: 1.5rem;
			color: black;
			display: inline-block;
			line-height: 1.4;
			transition: all 0.2s ease;

			&.highlight {
				background: black;
				color: white;
			}

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					color: #fff;
					background: #0c0c0c;
					opacity: 0.82;
				}
			}
		}
	}
}

.offer {
	padding: 20px 40px;

	body.oferta.list & {
		padding-top: $top-padding;
	}

	background-color: #afd6f6;

	@supports not (background-image: url("/img/pastel gradient.webp")) {
		background-image: url("/img/pastel gradient.jpg")
	}

	background-image: url("/img/pastel gradient.webp");
	background-size: cover;
	background-position: 10%;

	color: black;
	position: relative;
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	grid-template-rows: auto auto auto;
	grid-template-areas: "scroll title ." "scroll content ." ". below .";
	grid-gap: 0 30px;

	&__scroll {
		grid-area: scroll;

		div {
			display: flex;
			flex-direction: column;
			gap: 10px;
			position: sticky;
			padding: calc(50vh - 55px) 0 210px;
			top: 0;
			left: 20px;
			padding-left: 18px;
		}

		circle {
			opacity: 0.9;
			transition: fill 0.3s ease-in-out;
		}
	}

	.wrapper {
		grid-area: title;
		max-width: 1330px;
		width: 100%;

		&.wrapper--below {
			grid-area: below;
		}

		.breadcrumbs a {
			color: black;
		}
	}


	&__header {
		font-size: 6.4rem;
		font-weight: 700;
		letter-spacing: -.021em;
		margin: 80px 0;
		line-height: 1.1;
	}

	&__boxes {
		grid-area: content;
		@include wrapper;
		max-width: 1400px;
	}

	&__desc {
		padding-left: 12px;
		margin-top: 0px;
		margin-bottom: 6px;
	}

	&__box {
		display: grid;
		grid-template-areas: "content ." "content image" "content project";
		grid-template-rows: 80px auto auto;
		grid-template-columns: minmax(400px, 600px) minmax(400px, 650px);
		grid-gap: 10px 80px;
		margin-bottom: 100px;

		.link-button {}

		&-title {
			grid-area: header;
			color: black;
			font-size: 3.2rem;
			letter-spacing: -.020em;
			font-weight: 700;
		}

		&-description {
			grid-area: content;
			font-size: 1.8rem;
			line-height: 1.65;
			font-weight: 500;
			margin-bottom: 20px;
			position: relative;

			&:after {
				position: absolute;
				bottom: 0;
				content: "";
				width: 100%;
				border-bottom: 2px solid black;
				pointer-events: none;
				height: 100%;
				display: block;
			}

			&>div {
				position: sticky;
				top: 100px;
				padding-bottom: 30px;

			}
		}

		&-project-desc {
			grid-area: project;
			padding-top: 60px;
			font-size: 1.8rem;
			font-weight: 500;

			h3 {
				font-size: 24px;
				font-weight: 700;
				letter-spacing: -0.020em;
			}
		}

		&-project-img {
			grid-area: image;
			transition: all 0.3s ease;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					opacity: 0.9;
					cursor: pointer;
				}
			}

			picture {
				position: relative;
				display: block;
			}

			picture:after,
			picture:before {
				position: absolute;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				border: 2px solid black;
				pointer-events: none;
				border-radius: 20px;
				z-index: 10;
			}

			picture:after {
				content: "";
				top: calc(50% - 30px);
				left: calc(50% + 30px);
				z-index: 3;

				.offer__box:nth-child(2n) & {
					top: calc(50% + 30px);
				}
			}

			picture:before {
				content: "";
				top: calc(50% + 30px);
				left: calc(50% - 30px);

				.offer__box:nth-child(2n) & {
					top: calc(50% - 30px);
				}
			}

			img {
				border-radius: 20px;
				display: block;
				width: 100%;
				height: auto;
				z-index: 5;
				position: relative;
				aspect-ratio: 582 / 340;
				object-fit: cover;
			}
		}

		&-project-cta {
			margin: 10px 0 20px;
			display: inline-block;
			color: black;
			padding: 5px 10px;
			border: 2px solid black;
			border-radius: 10px;
			font-weight: 500;
			transition: all 0.3s ease;
			mix-blend-mode: multiply;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					background: black;
					color: white;
					font-weight: bold;
					letter-spacing: -0.03em;
				}
			}
		}
	}
}

.projects {
	background: white;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;

	.breadcrumbs {
		max-width: none;
	}

	.offer__box-project-img img {
		border: 2px solid black;
	}

	.wrapper {
		max-width: 1330px;

		&>h2,
		&>p,
		&>h1,
		&>.breadcrumbs {
			margin: 0;
			margin-bottom: 24px;
			padding: 0 10px;
		}

		&>h2 {
			font-size: 2em;
			margin-top: 20px;
		}

		&>h1 {
			font-size: 2em;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 80px;
		padding: 0 10px;

		.project {
			flex: 0 1 calc(50% - 40px);

			.offer__box-project-img picture:before,
			.offer__box-project-img picture:after {
				content: none;
			}
		}

		.offer__box-project-desc {
			padding-top: 30px;
		}
	}

}

.project-mini {
	display: block;

	img {
		max-width: 30px;
		height: auto;
	}

	text-decoration: none;
	line-height: 1.6;
	color: black;
	font-weight: 500;
	flex: 0 1 280px;

	&__container {
		padding: 0 20px;
		display: grid;
		grid-template-columns: repeat(3, minmax(190px, 370px));
		flex-wrap: wrap;
		gap: 40px 20px;
		margin-top: 60px;
		margin-bottom: 100px;
		justify-content: space-between;
	}

	&-icon {
		max-width: 100px;

		img {
			height: auto;
			width: 100%;
			border-radius: 10px;
		}

		&__container {
			display: grid;
			grid-template-columns: repeat(9, auto);
			grid-gap: 10px;
			padding: 0 20px;
			margin-bottom: 60px;
			justify-content: space-between;
		}
	}
}

.project {
	margin: 25px auto;
	max-width: 960px;
	border-radius: 8px;

	.offer__box-project-desc {
		font-weight: 400;
	}

	&__wrapper {
		@include wrapper;

		padding: 24px;
		display: grid;
		grid-template-areas: 'gallery text';
		grid-template-columns: auto 1fr;
		grid-gap: 50px;
	}

	&__buttons {
		.link-button {
			background: $navbar-color;
			color: white;
			font-weight: 300;
		}
	}

	&__text {
		grid-area: text;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: 300;

		h3 {
			font-size: 1.3em;
			margin: 0;
		}

		hr {
			margin-right: 24px;
			display: none;
		}
	}

	&__gallery {
		grid-area: gallery;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-width: 300px;
			border-radius: 8px;
			box-shadow: #0000000f 0 10px 30px;
			width: auto;
			height: auto;
		}
	}
}

.about-me-front {
	background: white;
	box-shadow: $tile-shadow;

	&>.wrapper {
		padding: 20px 10px 40px;
	}

	h2 {
		margin: 0;
		font-size: 4rem;
	}

	p {
		max-width: 600px;
	}

	img {
		float: right;
		max-width: 500px;
		width: 50%;
		min-width: 150px;
		padding: 10px;
		opacity: 0.93;
		height: auto;
	}

	a {
		text-align: center;
		display: inline-block;
		background: white;
		color: black;
		padding: 10px 40px;
		text-decoration: none;
		font-weight: 600;
		border-radius: 10px;
		clear: both;
		border: 2px solid black;

		@media (hover: hover) and (pointer: fine) {
			&:hover {
				opacity: 0.85;
			}
		}
	}
}

.about-me {
	@include wrapper768;
}

.footer {
	background: $navbar-color;
	color: white;
	padding: 24px;
	line-height: 1.8;

	a {
		color: white;
		text-decoration: none;
		font-weight: 400;
	}

	.wrapper {
		display: grid;
		grid-template-areas: "left right" "bottom bottom";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}

	&__left {
		grid-area: left;
	}

	&__right {
		grid-area: right;
	}

	&__bottom {
		grid-area: bottom;
	}
}

.breadcrumbs {
	@include wrapper;
	font-size: 0.9em;
	margin: 0 auto 16px;
	padding-top: 12px;

	a {
		color: #726f6f;
		font-weight: 300;
	}
}

.blog-post {
	min-height: 100vh;
	display: grid;
	grid-template-areas: ". toc header" ". toc content" "recs recs recs";
	grid-template-columns: 1fr auto 768px;
	grid-gap: 16px 60px;

	&__recommendations {
		grid-area: recs;
		border-top: 1px dotted $red-hex;
		padding-top: 2em;
		margin-top: 2em;
	}

	&--project {
		display: block;
		@include wrapper768;
	}

	&__header {
		grid-area: header;
		max-width: 720px;

		h1 {
			margin: 0;
			margin-bottom: 5px;
			font-size: 28px;
			letter-spacing: -0.021em;
		}
	}

	&__toc {
		grid-area: toc;

		&-wrapper {
			position: sticky;
			top: 40px;

			ul {
				padding-left: 20px;
			}
		}
	}

	&--project &__header h1 {
		margin: revert;
	}

	.blog-thumbnail {
		max-width: 500px;
		width: 100%;
		border-radius: 8px;
		height: auto;
	}

	&__content {
		grid-area: content;
	}

	&__summary {}

	&__date {
		color: #3c3b3b;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: -.009em;
	}

	p {
		margin: 20px 0;
	}
}


.front-blog {
	padding-top: 4px;
	background: white;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;

	&__header {
		font-size: 4rem;
	}
}

.blog-view {
	display: flex;
	flex-direction: column;

}

.post-tags {
	&:empty::before {
		content: '';
	}

	display: inline;

	a {
		color: $red-hex;
		text-decoration: none;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -0.006em;
	}
}

.posts-list {
	grid-area: posts;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 90px 70px;

	&__post {
		display: flex;
		flex-direction: column;
		gap: 4px;

		h2 {
			margin: 0;
			font-size: 2.4rem;
			line-height: 1.15;
			letter-spacing: -0.019em;

			a {
				color: black;
				font-weight: 700;
			}
		}

		.blog-thumbnail {
			width: 100%;
			border-radius: 8px;
			height: auto;
			aspect-ratio: 450 / 295;
			object-fit: cover;
			background: #ededed;
			transition: all 0.2s ease;

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					opacity: 0.85;
				}
			}
		}
	}

	&__date {
		color: #3C3B3B;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: -0.009em;
	}

	&__summary {
		font-size: 16px;
		line-height: 1.56;
		font-weight: 400;
		margin: 0;
		margin-top: 4px;
		letter-spacing: -0.011em;
	}
}

.tags-list {
	grid-area: tags;
	background: white;
	margin: 60px 0;

	h2 {
		font-weight: 700;
		font-size: 30px;
		line-height: 1.15;
		letter-spacing: -0.022em;
		margin: 0;
		margin-bottom: 10px;
	}
}

.blog-list-header {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.15;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 25px;
	letter-spacing: -0.022em;
}

.blog-list-summary {
	margin: 0;
	margin-bottom: 40px;
	font-size: 16px;
	line-height: 1.56;
	letter-spacing: -0.011em;
}

.github-code {
	max-height: Min(600px, 60vh);
	overflow: scroll;
	margin: 0 10px;
	max-width: calc(100vw - 50px);

	td {
		text-align: left;
	}
}

.blog-post__content .highlight,
.blog-post__content pre {
	max-height: 50vh;
	overflow: auto;
	max-width: calc(100vw - 50px);
	margin: auto;
}

code {
	padding: 10px;
	display: block;
}

.ml-embedded {
	margin-top: 2em;
}

.rss {
	width: 1em;
}

@import 'media.scss';