@media only screen and (max-width: 1200px) {
	body {
		font-size: 1.6rem;
	}
	body.home-page section:not(.contact-front):not(.about-me-front):not(.front-blog) > .wrapper > h2,
	body.home-page section.landing > .wrapper > h1 {
		padding-left: 12px;
		padding-right: 12px;
	}

	.contact-front > .wrapper {
		padding: 24px;
	}

	.project__gallery img {
		max-width: 200px;
	}

	body:not(.home-page) .main-content {
		padding-left: 8px;
		padding-right: 8px;
	}

	.projects > .wrapper > p,
	.blog > .wrapper > p {
		padding-left: 12px;
		padding-right: 12px;
	}

	.offer-list {
		display: grid;
		grid-template-areas: "breadcrumbs" "headers" "articles";
		grid-template-columns: auto;
		grid-gap: 16px 60px;

		&__headers {
			text-align: left;
			border-bottom: 1px solid $navbar-color;
			padding-bottom: 20px;
		}
	}

	.blog-post {
		grid-template-areas: "header" "toc" "content";
		grid-template-columns: auto;
		grid-gap: 0;

		&__toc-wrapper {
			position: initial;
			top: 0;
			transform: none;
		}
	}
	.posts-list {
		grid-gap: 90px 45px;
	}
	body.blog.list .main-content {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media only screen and (max-width: 768px) {
	.blog-list-header {
		font-size: 2.8rem;
	}
	.posts-list {
		grid-template-columns: 1fr 1fr;
	}
	body {
		font-size: 1.5rem;
	}
	.contact-form {
		grid-template-areas: "namelabel" "name" "emaillabel" "email" "msglabel" "message" "submit";
		grid-template-columns: 1fr;
	}
	
	.offer {
		padding: 0;
		padding-bottom: 20px;
	}
	.offer__box {
		margin: 6px;
	}

	.blog-view {
		grid-template-areas: "posts" "tags";
		grid-template-columns: 1fr;
	}
	.navbar {
		font-size: 0.9em;
	}

	figure.float-right {
		float:  none;
		padding: 0;
	}
	figure.float-right div {
		display:  block;
	}
	figure.float-right img {
		display: block;
		margin:  auto;
	}

}

@media only screen and (max-width: 600px) {
	.posts-list {
		grid-template-columns: 1fr;
		grid-gap: 60px;
	}
	.project__wrapper {
		grid-template-areas: "gallery" "text";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-gap: 20px;
		padding: 12px;

	}
	.project__gallery {
		justify-content: flex-start;
	}
	.offer__box {
		flex: 1 1 100%;
	}
	.offer__desc {
		margin-bottom: 16px;
	}

	.footer .wrapper {
		grid-template-areas: "left" "right" "bottom";
		grid-template-columns: 1fr;
		grid-gap: 12px;
	}

	body.projekty.list .projects {
		& > h1, & > p, & > h2 {
			padding-left: 12px;
		}
	}

	.navbar__navigation {
		position: fixed;
		top: 50px;
		left: 0;
		width: 100vw;
		background: #0c0c0c2b;
		flex-direction: column;

		transition: height 300ms linear, background 300ms linear;
		height: auto;
		overflow: hidden;
		align-items: inherit;

		a {
			border-top: 1px solid #ffffff2e;
			padding: 12px;
		}

		a:last-child {
			width: auto;
		}
	}

	.navbar__navigation:not(.navbar__navigation--shown) {
		height: 0;
	}

	.navbar--active .navbar__navigation {
		background: $navbar-color;

		a {
			border-top: 1px solid #000;
		}
	}

	a.navbar__hamburger {
		display: block;
		flex: 1 1;
		text-align: right;
		font-size: 2em;
		line-height: 20px;
		padding: 0;
		font-weight: 600;
	}

	.navbar a.navbar__logo {
		flex: 0 1 auto;
	}

	.link-button {
		padding: 8px;
	}
	.link-button--outline {
		padding: 6px 8px;
	}
	.landing {
		font-size: 0.7em;

		&__content p {
			margin-top: 10px;
			letter-spacing: -0.017em;
		}

		&__content h2, &__content h3 {
			letter-spacing: -0.019em;
		}
	}
	.offer__header {
		font-size: 1.7em;
	}

	section.blog > h2 {
		margin: 8px 0;
		font-size: 1.7em;
	}
	.offer__box-top {
		padding-bottom: 12px;
	}
	.contact-front {
		padding: 0;
	}

}