@media only screen and (max-width: 1200px) {
	body {
		font-size: 1.6rem;
	}
	.about-me-front h2,
	.projects-front__header,
	.front-blog__header,
	.contact-front h2 {
		font-size: 3rem;
	}

	.project__gallery img {
		max-width: 200px;
	}

	.offer-front__button-container {
		justify-self: flex-start;
	}
	body:not(.home-page):not(.projekty.list):not(.oferta.list) .main-content {
		padding-left: 8px;
		padding-right: 8px;
	}

	.projects .wrapper {
		& > h2, & > p, & > .breadcrumbs {
			margin-bottom: 10px;
		}
		& > h1 {
			margin-bottom: 15px;
		}
	}
	

	.offer-list {
		display: grid;
		grid-template-areas: "breadcrumbs" "headers" "articles";
		grid-template-columns: auto;
		grid-gap: 16px 60px;

		&__headers {
			text-align: left;
			border-bottom: 1px solid $navbar-color;
			padding-bottom: 20px;
		}
	}

	.blog-post {
		grid-template-areas: "header" "toc" "content";
		grid-template-columns: auto;
		grid-gap: 0;

		&__toc-wrapper {
			position: initial;
			top: 0;
			transform: none;
		}
	}

	.posts-list {
		grid-gap: 90px 45px;
	}
	body.blog.list .main-content {
		padding-left: 25px;
		padding-right: 25px;
	}

	.offer-front {
		& > .wrapper {
		    grid-template-areas:
		        "header"
		        "one"
		        "two"
		        "three"
		        "cta";
		    grid-template-columns: 1fr;
		    padding: 20px 10px 40px;
		}

		&__box {
			font-size: 1.3em;
		    padding-bottom: 10px;
		    margin-bottom: 40px;	
		}

		&__box:after {
			width: 100%;
		}

		&__button {
			padding: 12px 40px;
		}
	}

	.offer {
		padding-bottom: 0;

		&__header {
			font-size: 4rem;
			margin: 30px 0 20px;
		}
	}

	.offer-front__header {
		font-size: 3.5rem;
		margin: 0;
		margin-bottom: 40px;
	}

	.offer__box {
	    grid-template-areas:
	        "content"
	        "image"
	        "project";
	    grid-template-columns: 1fr;
	    grid-template-rows: repeat(3, auto);

	    border-bottom: 2px solid black;
    	padding-bottom: 20px;
    	margin-bottom: 40px;

    	&:last-child {
    		margin-bottom: 0;
    		border-bottom: none;
    	}

	    &-project-cta {
	    	margin: 0 0 40px;
	    }
	    &-title {
	    	font-size: 2.4rem;
	    }
	    &__title {
	    	margin: 20px 0 10px;
	    }
	    &-description:after {
	    	content: none;
	    }

	    &-project-desc,
	    .projects__list &-project-desc {
	    	padding-top: 0;
	    	font-size: 1.5rem;
	    }
		
		&:nth-child(2n) .offer__box-project-img picture:after {
			top: calc(50% - 30px);
		}
	    &-project-img {
		    grid-area: image;
		    transition: all .3s ease;
		    width: calc(100% - 40px);

		    picture:before {
		    	content: none;
		    }
		}
	}
}

@media only screen and (max-width: 768px) {
	.projects__list {
		gap: 0;

		& .project {
			flex: 1 1 100%;
		}
	}
	.blog-list-header {
		font-size: 2.8rem;
	}
	.posts-list {
		grid-template-columns: 1fr 1fr;
	}
	body {
		font-size: 1.5rem;
	}
	.contact-form {
		grid-template-areas: "namelabel" "name" "emaillabel" "email" "msglabel" "message" "submit";
		grid-template-columns: 1fr;
	}
	
	.offer {
		padding: 0 25px;
		padding-bottom: 20px;
		grid-template-areas:
        "scroll"
        "title"
        "content"
        "below";
	    grid-template-columns: 1fr;
	    grid-template-rows: repeat(4, auto);

	    &__scroll {
	    	display: none;
	    	position: sticky;
		    top: 0px;
		    opacity: 0.8;
		    padding: 20px 0;

		    div {
		    	padding: 0;
			    flex-direction: row;
			    justify-content: center;
			    top: 50px;
		    }
	    }

	}

	.blog-view {
		grid-template-areas: "posts" "tags";
		grid-template-columns: 1fr;
	}
	.navbar {
		font-size: 0.9em;
	}

	figure.float-right {
		float:  none;
		padding: 0;
	}
	figure.float-right div {
		display:  block;
	}
	figure.float-right img {
		display: block;
		margin:  auto;
	}

	.project-mini {
		flex: 1 1;
		flex-direction: row;
		flex-wrap: nowrap;
		display: flex;
		align-items: center;
		gap: 10px;

		img {
			max-width: 20px;
			display: block;
		}

		&__container {
			display: flex;
			flex-direction: column;
			gap: 25px;
			margin: 30px 0 60px;
		}
	}

	.project-mini-icon {
		&__container {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

}

@media only screen and (max-width: 600px) {
	.posts-list {
		grid-template-columns: 1fr;
		grid-gap: 60px;
	}
	.project__wrapper {
		grid-template-areas: "gallery" "text";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-gap: 20px;
		padding: 12px;

	}
	.project__gallery {
		justify-content: flex-start;
	}
	.offer__box {
		flex: 1 1 100%;
	}
	.offer__desc {
		margin-bottom: 16px;
	}

	.footer .wrapper {
		grid-template-areas: "left" "right" "bottom";
		grid-template-columns: 1fr;
		grid-gap: 12px;
	}

	body.projekty.list .projects {
		& > h1, & > p, & > h2 {
			padding-left: 12px;
		}
	}

	.navbar__navigation {
		position: fixed;
		top: 50px;
		left: 0;
		width: 100vw;
		flex-direction: column;

		transition: height 300ms linear, background 300ms linear;
		height: auto;
		overflow: hidden;
		align-items: inherit;

		a {
			border-top: 1px solid #ffffff2e;
			padding: 12px;
		}

		a:last-child {
			width: auto;
		}
	}

	.navbar__navigation:not(.navbar__navigation--shown) {
		height: 0;
	}

	.navbar--active .navbar__navigation {
		background: #ffffffeb;
		backdrop-filter: blur(10px);

		a {
			border-top: 1px solid #000;
		}
	}

	a.navbar__hamburger {
		display: block;
		flex: 1 1;
		text-align: right;
		font-size: 2em;
		line-height: 20px;
		padding: 0;
		font-weight: 600;
	}

	.navbar a.navbar__logo {
		flex: 0 1 auto;
	}

	.link-button {
		padding: 8px;
	}
	.link-button--outline {
		padding: 6px 8px;
	}
	.landing {
		font-size: 0.7em;

		&__content p {
			margin-top: 10px;
			letter-spacing: -0.017em;
		}

		&__content h2, &__content h3 {
			letter-spacing: -0.019em;
		}
	}

	section.blog > h2 {
		margin: 8px 0;
		font-size: 1.7em;
	}
	.offer__box-top {
		padding-bottom: 12px;
	}
	.contact-front {
		padding: 0;
	}

}