{{ define "main" }}
    
      <section class="landing" id="navbar-transparent">
        <div class="landing__container">
          <div class="landing__content">
            <h2>{{ i18n "frontHi" }}!</h2>
            <h3>{{ i18n "myNameIs" }} Maciej Kaszkowiak.</h3>
            <p>{{ i18n "wwwAndApps" }}.</p>
          </div>
        </div> 
      </section>

      <section class="about-me-front">
          <div class="wrapper">
            <h2>
              {{ i18n "fewWords" }}
            </h2>
            <img src="/img/programming.svg" alt="">
            {{ with .Site.GetPage "/o-mnie" }}
              {{ .Summary }}
              <a href="{{ .Permalink }}">{{ i18n "readAll" }}!</a>
            {{ end }}
          </div>

        </section>

        <section class="offer">
          <div class="wrapper">
            <h2 class="offer__header">
              {{ i18n "myOffer" }}
            </h2>
            <p class="offer__desc">{{ i18n "offerDesc" }}:</p>
          </div>
          {{ partial "offer-tiles.html" . }}
        </section>

        <section class="projects">
          <div class="wrapper">
            <h2>
              {{ i18n "selectedProjects" }}
            </h2>
            {{ range ( where .Site.RegularPages "Type" "projekty") }}
              {{- if not (isset .Params "github") -}}
              {{ partial "project-tile.html" . }}
              {{- end -}}
            {{ end }}
            <h2>
              {{ i18n "openSourceProjects" }}
            </h2>
            <p>
              {{ i18n "miniProjects" }} 
              <br>
              {{ i18n "miniProjectsDesc" }} <a href="https://github.com/asdfMaciej/" target="_blank" rel="noopener">{{ i18n "githubD" }}</a>.
            </p>
            <nav class="project-mini__container">
            {{- range (where .Site.RegularPages "Type" "projekty") }}
              {{- if isset .Params "github" }}
              {{ partial "project-tile.html" . }}
              {{- end -}}
            {{ end }}
            </nav>
          </div>
        </section>

        <section class="blog">
          <div class="wrapper">
            <h2>{{ i18n "recentBlogPosts" }}</h2>
            <p>{{ i18n "blogTheme" }} - 
              {{ with .Site.GetPage "/blog" }}
              <a href="{{ .Permalink }}">
              {{ end }}
                {{i18n "seePosts"}}</a>.
            </p>
            {{ range ( where .Site.RegularPages "Type" "blog" | first 3 ) }}
                {{ partial "blog-tile.html" . }}
            {{ end }}
          </div>
        </section>

        <section class="contact-front">
          <div class="wrapper">
            <h2>{{ i18n "contactHeader" }}</h2>
            <p>
              {{ i18n "header1" }}<br>{{ i18n "header2" }}
               <a href="https://github.com/asdfMaciej/" target="_blank" rel="noopener">{{ i18n "githubD" }}</a>
              {{ i18n "andOn" }}
              <a href="https://www.facebook.com/kaszkowiak.maciej/" target="_blank" rel="noopener">{{ i18n "facebookD" }}</a>.
              {{ i18n "header3" }}
            </p> 
          </div>
          
        </section>
      
{{ end }}