{{ define "main"}}

<section class="offer">
  <nav class="offer__scroll">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 110 110" width="20" height="20">
         <circle cx="55" cy="55" r="45" stroke="black" stroke-width="10" fill="transparent" />
      </svg> 
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 110 110" width="20" height="20">
         <circle cx="55" cy="55" r="45" stroke="black" stroke-width="10" fill="transparent" />
      </svg> 
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 110 110" width="20" height="20">
         <circle cx="55" cy="55" r="45" stroke="black" stroke-width="10" fill="transparent" />
      </svg> 
    </div>
  </nav>
  <div class="wrapper">
    <h1 class="offer__header">
      {{ i18n "myOffer" }}
    </h1>
  </div>
  {{ partial "offer-tiles.html" . }}
  <div class="wrapper wrapper--below">
  	<h2>
  		Zapoznaj się z moim portfolio
  	</h2>
  </div>
</section>


{{ end }}