{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $srcUrl := .Get "src" | safeURL }}
{{ $src := .Page.Resources.GetMatch (printf "%s" $srcUrl) }}

{{ $orientation := 1 }}

{{ with $src.Exif }}
{{ $orientation = .Tags.Orientation }}
{{ end }}

{{ $tinyw := default "500x" }}
{{ $largew := default "1500x" }}

{{ if (eq $orientation 1) }}
  {{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
  {{ .Scratch.Set "large" ($src.Resize $largew) }}
{{ else if (eq $orientation 3) }}
  {{ $tinyw := print $tinyw " r180"}}
  {{ $largew := print $largew " r180"}}
  {{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
  {{ .Scratch.Set "large" ($src.Resize $largew) }}
{{ else if (eq $orientation 6) }}
  {{ $tinyw := print $tinyw " r270"}}
  {{ $largew := print $largew " r270"}}
  {{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
  {{ .Scratch.Set "large" ($src.Resize $largew) }}
{{ else if (eq $orientation 8) }}
  {{ $tinyw := print $tinyw " r90"}}
  {{ $largew := print $largew " r90"}}
  {{ .Scratch.Set "tiny" ($src.Resize $tinyw) }}
  {{ .Scratch.Set "large" ($src.Resize $largew) }}
{{ end }}

{{ $tiny := .Scratch.Get "tiny" }}
{{ $large := .Scratch.Get "large" }}

{{ if .Get "src" }}
<figure {{ with .Get "float" }} class="float-{{ . }}" {{ end }}>
	<div>
  <a href='{{ if ge $src.Width "1500" }}
    {{ $large.RelPermalink }}
  {{ else }}
	{{ $src.RelPermalink }}
  {{ end }}' class="glightbox"  data-description='{{ if .Get "caption" }}{{ .Get "caption" }}{{ else }}{{ .Get "alt" }}{{ end }}'>
    <img src='{{ $tiny.RelPermalink }}' loading="lazy" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} >
</a>
    {{ if .Get "caption" }}
      <figcaption>{{ .Get "caption" }}</figcaption>
    {{ else if .Get "alt" }}
      <figcaption>{{ .Get "alt" }}</figcaption>
    {{ end }}
    </div>
</figure>
{{ end }}