{{ define "main" }}


{{ partial "breadcrumbs.html" . }}

<article class="blog-post">
	<header class="blog-post__header">
		{{ partial "post-tags.html" . }}
		<h1>{{ .Title }}</h1>
		<time class="blog-post__date" datetime="{{ .Date.Format " 2006-01-02T15:04:05Z0700" }}">
			{{ if eq .Site.Language.Lang "pl" }}
			{{ dateFormat "02" .Date }}
			{{ index $.Site.Data.months (printf "%d" .Date.Month) }}
			{{ dateFormat "2006" .Date }}
			{{ else }}
			{{ dateFormat "02" .Date }}
			{{ dateFormat "Jan" .Date }}
			{{ dateFormat "2006" .Date }}
			{{ end }}
		</time>


		<p class="blog-post__summary"> {{.Summary}} </p>
		{{ partial "thumbnail-lightbox.html" . }}
	</header>
	<aside class="blog-post__toc">
		<div class="blog-post__toc-wrapper">
			<h2>{{ i18n "tableOfContents" }}</h2>
			{{ .TableOfContents }}
		</div>
	</aside>
	<section class="blog-post__content">
		{{ .Content }}

		{{- if eq .Site.Language.Lang "pl" -}}
		<div class="ml-embedded" data-form="3Lp24m"></div>
		{{- else -}}
		<div class="ml-embedded" data-form="erTwuw"></div>
		{{- end -}}
	</section>
	<section class="blog-post__recommendations">
		<p>{{ i18n "blogTheme" }} -
			{{ with .Site.GetPage "/blog" }}
			<a href="{{ .Permalink }}">
				{{ end }}
				{{i18n "seePosts"}}</a>.
		</p>
		<section class="posts-list">
			{{/* ".Params.tags" "intersect" .Params.tags) */}}
			{{ range ( where (where .Site.RegularPages "Type" "blog") "Permalink" "!=" .Permalink | first 3 ) }}
			{{ partial "blog-tile.html" . }}
			{{ end }}
		</section>
	</section>

</article>

{{ end }}