{{ define "main" }}

<section class="projects projects--page">
  <div class="wrapper">
  	{{ partial "breadcrumbs.html" . }}
    {{ .Content }}
    <div class="projects__list">
      {{ range ( where .Site.RegularPages "Type" "projekty") }}
        {{- if not (or (isset .Params "github") (isset .Params "hideprojectspage")) -}}
        {{ partial "project-tile.html" . }}
        {{- end -}}
      {{ end }}
    </div>
    
    <h2>
      {{ i18n "openSourceProjects" }}
    </h2>
    <p>
      {{ i18n "miniProjects" }} 
      <br>
      {{ i18n "miniProjectsDesc" }} <a href="https://github.com/asdfMaciej/" target="_blank" rel="noopener">{{ i18n "githubD" }}</a>.
    </p>
    <nav class="project-mini__container">
      {{- range (where .Site.RegularPages "Type" "projekty") }}
        {{- if isset .Params "github" }}
        {{ partial "project-tile.html" . }}
        {{- end -}}
      {{ end }}
    </nav>
  </div>
</section>
{{ end }}